@model Fall2024_Assignment3_akspencer1.Models.Actor

<body>

    <div>
        <h1>Edit Actor Page</h1>
        <br />

        @if (Model == null) // If the movie is not found - will be null on first page visit
        {
            <h4>Please enter a valid name to edit.</h4>
            <form asp-action="FindActor" method="post" class="mb-4">
               
                <div class="form-group">
                    <label for="title">Enter Actor Name to Edit:</label>
                    <input type="text" id="name" name="Name" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Find Actor</button>
            </form>
        }
        else // If the movie is found
        {
            <form asp-action="Edit" method="post" class="mb-4">
                <h4>Edit Actor</h4>

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" readonly /> 
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImdbLink"></label>
                    <input asp-for="ImdbLink" class="form-control" />
                    <span asp-validation-for="ImdbLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhotoUrl"></label>
                    <input asp-for="PhotoUrl" class="form-control" />
                    <span asp-validation-for="PhotoUrl" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        }

        <a asp-action="Index">Back to List</a>
    </div>
</body>
