<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/wwwroot/css/site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" integrity="sha384-pq/j2f0L15Yzi/uafoNs5tBQSG6JZSRsKR2yLbPKX/bc9D9sumWdZ9UrzFtCQ0Ky" crossorigin="anonymous">
</head>
<body>
    <div>
        <h1 id="Title">
            <img src="/Images/Pumpkin.png" class="image-icon" alt="Pumpkin Icon"> Spooky Movie Manager
            <img src="/Images/Ghostie.png" class="image-icon" alt="Ghost Icon">
        </h1>
        <br /> <br />

        <p id="Summary">This site is for indexing, viewing, creating, editing, and deleting movies and actors. Click on the "Movies" tab to manage movies, and the "Actors" tab to manage actors.</p>

    </div>
</body>
</html>
