

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/wwwroot/css/site.css">
    <script src="/wwwroot/js/site.js"></script>

</head>
<body>


    <div>
        <h1 id="Title"> AI Page </h1>
        <br /> <br />


        <button class="btn btn-primary" onclick="goToGenerateReviews()">Generate Review</button>
        <button class="btn btn-primary" onclick="goToGenerateTweets()">Generate Tweets</button>


        <p id="Summary"> Here you can generate a review or a tweet for a movie or actor. </p>

    </div>
</body>

